<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/li-scroller.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <!--[if lt IE 9]>
        <script src="~/Content/assets/js/html5shiv.min.js"></script>
        <script src="~/Content/assets/js/respond.min.js"></script>
    <![endif]-->

    @RenderSection("customStyles", false)
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

    <div class="container">
        <div class="box_wrapper">
            @Html.Partial("_LayoutHeader")
            @RenderBody()
            @Html.Partial("_LayoutFooter")
        </div>
    </div>

    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <script src="~/Content/assets/js/jquery.li-scroller.1.0.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    @RenderSection("customScripts", false)
</body>
</html>